# Virtual environments
venv/
env/
ENV/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build files
build/
dist/
*.egg-info/
.eggs/

# Flask
instance/
.webassets-cache/

# Environment variables
.env
.env.*
*.env

# Database files
*.mdf
*.ldf
*.db
*.sqlite3
*.bak

# Logs / temp
*.log
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates